.item {
    width: 400px;
    height: 50px;
    display: flex;
    gap: 30px;
    text-align: start;
  }
  .item p {
    height: 30px;
    width: 300px;
    font-size: 15px;
  }
  .item button {
    height: 30px;
    width: 70px;
    background-color: rgb(121, 23, 23);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  