

.calcontainer{
  box-sizing: border-box;
  width: 15vw;
  height: 60vh;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}
.inputbox{
  width: 95%;
  height: 10%;
  outline: none;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 18px;
}
.btncontainer{
  margin-top: 10px;
  box-sizing: border-box;
  height: 87%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.btn{
  margin-left: 5px;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background-color: rgb(232, 228, 228);
  font-size: 18px;
  border: 1px solid gray;
  cursor: pointer;
}