.mycontainer {
  width: 100%;
}
.sidebar {
  min-height: 800px;
}
.formcontainer {
  display: flex;
  gap: 5rem;
  width: 100%;
}
.postcontainer {
  width: 90%;
}
.createpost{
  margin-top: 20px;
  width: 50%;
}
.btn-primary{
  margin: 6px 6px;
}
.card{
  width: 30rem;
}

  
